.intro__list-cell {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}